
/*调整“Teacher入口”按钮，鼠标放在图标上时变色*/
.toTeacherButton{
    -fx-background-color:#7156DD;
    -fx-background-radius: 200;
    -fx-text-fill:white;
    -fx-border-radius: 200;
    -fx-border-color: #7156DD;
}
.toTeacherButton:hover{
    -fx-border-radius: 200;
    -fx-background-radius: 200;
    -fx-background-color: white;
    -fx-text-fill: #7156DD;
    -fx-border-color: #7156DD;
    -fx-border-width: 2px;
    -fx-border-style: solid;
}

/*调整“Student入口”按钮，鼠标放在图标上时变色*/
.toStudentButton{
    -fx-background-color: #3F2B63;
    -fx-background-radius: 200;
    -fx-text-fill:white;
    -fx-border-radius: 200;
    -fx-border-color: #3F2B63;
}
.toStudentButton:hover{
    -fx-border-radius: 200;
    -fx-background-radius: 200;
    -fx-background-color: #DCDCDC;
    -fx-text-fill: #3F2B63;
    -fx-border-color: #3F2B63;
    -fx-border-width: 2px;
    -fx-border-style: solid;
}

/*调整Teacher页面的“LOGIN”按钮，鼠标放在图标上时变色*/
.teacherLoginButton{
    -fx-border-color: linear-gradient(to bottom left, #A868A0, #2D75E8);
    -fx-background-color: linear-gradient(to bottom left, #A868A0, #2D75E8);
    -fx-background-radius: 200;
    -fx-border-radius: 200;
    -fx-text-fill: white;
}
.teacherLoginButton:hover{
    -fx-border-color: linear-gradient(to bottom left, #A868A0, #2D75E8);
    -fx-border-radius: 200;
    -fx-background-radius: 200;
    -fx-background-color: white;
    -fx-text-fill: linear-gradient(to bottom left, #A868A0, #2D75E8);
    -fx-border-width: 2px;
    -fx-border-style: solid;
}

/*调整Student页面的“LOGIN”按钮，鼠标放在图标上时变色*/
.studentLoginButton{
    -fx-border-color: linear-gradient(to bottom left, #0250c5 0%, #d43f8d 100%);
    -fx-background-color: linear-gradient(to bottom left, #0250c5 0%, #d43f8d 100%);
    -fx-background-radius: 200;
    -fx-border-radius: 200;
    -fx-text-fill: white;
}
.studentLoginButton:hover{
    -fx-border-color: linear-gradient(to bottom left, #0250c5 0%, #d43f8d 100%);
    -fx-border-radius: 200;
    -fx-background-radius: 200;
    -fx-background-color: white;
    -fx-text-fill: linear-gradient(to bottom left, #0250c5 0%, #d43f8d 100%);
    -fx-border-width: 2px;
    -fx-border-style: solid;
}

.forgotLabelStudent:hover {
    -fx-text-fill: #7156DD;
    -fx-underline: true;
    -fx-font-weight: bold;
}

.forgotLabelTeacher:hover {
    -fx-text-fill: #3F2B63;
    -fx-underline: true;
    -fx-font-weight: bold;
}

.mainLayer {
    -fx-background-color: transparent;
   /*-fx-border-radius: 20;
    -fx-background-radius: 20;*/
}

.moveLayer {
    -fx-background-color: linear-gradient(to bottom left, #0250c5 0%, #d43f8d 100%);
    /*-fx-border-radius: 20;
    -fx-background-radius: 20;*/
}

.loginLayer {
    -fx-background-color: white;
    /*-fx-border-radius: 20;
    -fx-background-radius: 20;*/
}

